/* retset styless
-----------------------------------*/

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, figure, legend, input, button, textarea, p, blockquote, th, td, select {
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}
ol, ul {
  list-style: none;
}

fieldset, img {
    border: 0;
}

$bigSize: 16px;

@function remSize($px: 16px) {
  @return $px /$bigSize * 1rem;
}

// .m_mycart .g_null i, .nav_fm .top_nav_bar .header_top_inner .c_operate section .e_link i, .nav_fm .search_box .search form .c_select span i, .nav_fm .search_box .search form .g_queryText i, .nav_fm .search_box .cart_btn i, a.t_openShowShare i, .u_goods h2 a, .g_shareCarousel .u_prev, .g_shareCarousel .u_next, a.u_option i, .u_video .e_play, .u_video .e_mute, .b_pick .l_sort_inner .c_dd_l i, .ab_pick .c_ategory header i {
//     font-family: "iconfont" !important;
//     -webkit-font-smoothing: antialiased;
//     -webkit-text-stroke-width: 0.2px;
//     -moz-osx-font-smoothing: grayscale;
// }
//
address, i, cite, code, dfn, em, var {
    font-style: normal;
}

/* comman styless
--------------------------------- */

body {
  font-size: remSize(12px);
  color: #333;
  line-height: 1.5;
  font-style: normal;
  font-family: 微软雅黑, "Microsoft YaHei";
}

.container {
  width: remSize(1200px);
  margin: 0 auto;
}

ul {
  margin: 0;
}

li {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #7d7d7d;
  transition-property: border-color, color, background-color;
  transition-duration: .2s;
  &:hover {
    text-decoration: none;
    cursor: pointer;
  }
  &:link {
    color: #333;
    text-decoration:  none;
    outline: none;
  }
}

p {
  padding: 0;
}


b {
  font-weight: normal;
}

.u_toggle.s_h330, .u_toggle.s_h254, .u_toggle.s_h455, .main_item .e_goodsImg, .m_related {
    border: 1px solid #d5d5d5;
}

.u_toggle.s_h330, .u_toggle.s_h254, .u_toggle.s_h455 {
    float: left;
    border-width: 0 1px 1px 0;
    width: 401px;
}

.clearfix::after {
  height: 0;
  display: block;
  visibility: hidden;
  content: ".";
  clear: both;
}
.clearfix {
  *zoom: 1;
}

/* SCSS styless
----------------------*/

@mixin color($color: 7d7d7d){
  color:$color;
}

@mixin height($height:remSize(36px)) {
  height: $height;
  line-height: $height;
}
@mixin liFloat($float: left,$marginRight: remSize(10px)) {
  float: $float;
  margin-right: $marginRight;
}


%l_activity {
  position: relative;
  overflow: hidden;
}


/* Header
--------------------------*/

header {
  height: remSize(200px);
}

.top_navbar {
  width: 100%;
  height: remSize(38px);
  background: #f8f8f8;
  border-bottom: remSize(1px) solid #eee;
  position: fixed;
  top: 0;
  z-index: 999;

  a {
    &:hover {
      color: #ae5eff;
    }
  }

 /*= l_account =*/
  .l_account {
    color: #7d7d7d;
    @include height(remSize(38px));
    margin: 0 auto;
    z-index: 1;
    float: left;
    b {
      margin-right: remSize(44px);
    }
    i {
      margin: 0 remSize(6px);
    }
  }
}

/*= c_operate =*/

.iconfont{
        font-family:"iconfont";
        font-size:remSize(12px);
        font-style:normal;
        -webkit-font-smoothing: antialiased;
        -webkit-text-stroke-width: remSize(0.2px);
        -moz-osx-font-smoothing: grayscale;
}

%a {
  display: inline-block;;
  border-color: #ddd;
  padding: 0 remSize(10px);
  @include color;
  outline: none;
}

%i {
  color: #bfbfbf;
  transition-property: color;
  transiton-duration: .3s;
}

%a_transition {
  transition-property:  border-color, color, background-color;
  transition-duration: .2s;
}

.s_hover {
  position: relative;
}
.c_operate {
  @include height(remSize(38px));
    float: right;
    ul  {
       li {
        float: left;
        position: relative;
       }
       li:nth-child(2) a, li:nth-child(3) a {
         &:hover {
           border: 1px solid #ddd;
           border-width: 0 1px 1px;
           border-bottom: #fff;
           background: #fff;
         }
       }
    }

    a {
      @extend %a;
    }
  i {
    @extend %i;

  }

  .g_code {

      left: 0px;
      padding: remSize(14px);
      text-align: center;
      display: none;
      position: absolute;
      top: 140%;
      border: 1px solid #ddd;
      margin-top: -1px;
      line-height: normal;
      // opacity: 0;
      transition-property: opacity, visibility, transform, display;
      transition-duration: .3s;
      text-align: center;
      line-height: 1;
      background: #fff;
    img {
      width: remSize(130px);
      height: remSize(130px);
    }
    big {
      font-size: remSize(15px);
      line-height: remSize(20px);
      display: block;
    }
    small {
      display: block;
      margin-top: remSize(2px);
      width: 11em;
      font-size: remSize(13px);
      line-height: remSize(19px);
    }
  }





}
/*= search_box =*/
.search_nav {
  width: 100%;
  height: remSize(162px);
  position: absolute;
  top: remSize(38px);
}

.search_box {
  height: remSize(92px);
  margin: 0 auto;
  padding: remSize(16px) 0;
  position: relative;
}
.logo {
  width: remSize(230px);
  float: left;
  a {
    display: inline-block;
  }
}
.logo span {
  display: inline-block;
  margin: remSize(70px) 0 0 remSize(7px);
  font-size: remSize(20px);
  color: #87319a;
}
/*= shop_car  =*/
.shop_car {
  display: inline-block;
  float: right;
  position: relative;
  z-index: 99;
  margin-top: remSize(26px);

  a{
    display: inline-block;
    width: remSize(132px);
    @include height(rem(36px));
    text-align: center;
    border: remSize(1px) solid #ddd;
    border-radius: remSize(2px);

    i {
        margin-right: remSize(2px);
        font-size: remSize(23px);
        color: #ddd;
        vertical-align: remSize(-2px);
    }
    b{
      font-size: remSize(15px);
      color:#707070;
    }
    span {
      display: inline-block;
      width: remSize(20px);
      @include  height(remSize(20px));
      border-radius: remSize(10px) remSize(10px) remSize(10px) 0;
      background: #fc448c;
      color: white;
      text-align: center;
      position: relative;
      top: remSize(-20px);
      right: remSize(-10px);
    }
  }
}
/*= search =*/
@font-face {
  font-family: 'iconfont';  /* project id 442383 */
  src: url('//at.alicdn.com/t/font_442383_fud6ifryk7bhjjor.eot');
  src: url('//at.alicdn.com/t/font_442383_fud6ifryk7bhjjor.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_442383_fud6ifryk7bhjjor.woff') format('woff'),
  url('//at.alicdn.com/t/font_442383_fud6ifryk7bhjjor.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_442383_fud6ifryk7bhjjor.svg#iconfont') format('svg');
}


.search   {
  margin: remSize(26px) 0 0 remSize(-250px);
  position: absolute;
  left: 50%;
  form{
    @include height;
    border: remSize(1px) solid #639;
    border-radius: remSize(2px);

    span {
      display: inline-block;
      padding-left: remSize(10px);
      color: #8657b2;
      font-size: remSize(14px);
    }

    label {
      position: relative;
      i {
        position: absolute;
        top: remSize(-11px);
        left: 0px;
        z-index: 99;
        width: remSize(32px);
        height: remSize(36px);
        line-height: remSize(34px);
        font-size: remSize(18px);
        color: #aaa;
        text-align: right;
        padding-right: remSize(4px);
      }
    }
    .inpts {
      @include height;
      width: remSize(83px);
      text-align: center;
      border: 0;
      font-size: remSize(15px);
      font-weight: bold;
      color: #fff;
      background: #639;
      float: right;
    }

  }
  .inptx {
    @include height;
    border: 0;
    padding: 0  remSize(10px) 0 remSize(36px);
    width: remSize(304px);
    border: none;
    outline: none;
  }

  ul {
    margin-top: remSize(2px);
    padding-left: remSize(10px);

    li {
      @include liFloat(left,remSize(6px));
      @include color;
     a {
       &:hover {
         color: #ae5eff;
       }
     }
    }
  }

}

/*= main_nav_bar =*/
.main_nav_bar {
  @include  height(remSize(38px));
  background: #663399;
}
.navigation {
  >ul >li {
    @include liFloat(left);
    @include height(remSize(38px));
    a {
      @include height(remSize(38px));
      color: #fff;
      font-size: remSize(14px);
      display: block;
      width: remSize(110px);
      margin: 0 auto;
      text-align: center;
      transiton-property: border-color, color, background-color;
      transition: 0.2s;
    }

    &:first-child a {
      width: remSize(230px);
      z-index: 1;
      background: #ee2a7b;
    }
  }
}

/* start body
------------------------*/
.firstScreen {
  margin-top: remSize(12px);
  zoom: 1;
  overflow: hidden;

  a{
    &:hover {
      color:  #ee2a7b !important;
    }
  }
  /*= leftDiv =*/
  .leftDiv {
    float: left;
    width: remSize(922px);
    #myCatalogCtn2 {
      width: remSize(228px);
      height: remSize(386px);
      overflow: hidden;
      margin: remSize(-12px) remSize(10px) 0 0;
      border: 1px solid #dbdbdb;
      border-top: 0;
      padding-top: remSize(9px);
      float: left;

      li {
        padding: 0 remSize(17px);
        display: list-item;
        text-align: -webkit-match-parent;

        h3 {
          @include  height(remSize(26px));
          margin: remSize(4px) 0 remSize(2px) 0;
          font-size: remSize(16px);
          color: #453555;
        }
        div {
          border-bottom: 1px solid #eee;
          overflow: hidden;
          padding: 0 0 remSize(4px);
          line-height: remSize(22px);
          zoom: 1;

        }
        a {
          color: #646464;
          margin: 0 remSize(7px);
          height: remSize(22px);
          float: left;
          white-space: nowrap;
        }

        &:not(:first-child) {
          margin-top: remSize(6px);
        }
        &:last-child div {
          border: none;
        }
      }

    }

  }
  /*= center =*/
  main .center {
    float: left;
    margin-left: remSize(12px);
  }

  /*= carousel =*/
  .focusing {
    width: remSize(670px);
    height: remSize(240px);
    overflow: hidden;
    position: relative;
    z-index: 0;

    .list {
      display: block;
      position: absolute;

      li {
        position: absolute;
        top: 0;
        left: 0;

        a {
          width: remSize(670px);
          height: remSize(240px);
          display: block;
          color: #333;
          text_decoration: none;
          outline: none;
        }
      }
    }

    .page {
      position: absolute;
      right: remSize(13px);
      bottom: remSize(8px);
      z-index: 99;
      li {
        margin-left: remSize(5px);
        float: left;
        width: remSize(22px);
        height: remSize(22px);
        color: #fff;
        background-color: #c2c2c2;
        border-radius: 50%;
        a {
          display: block;
          text-align: center;
          font: remSize(14px)/remSize(22px) "\5FAE\8F6F\96C5\9ED1";
        }

      }
      .focus {
          background-color: #ee2a7b;
      }
    }
  }

  /*= center theme =*/
  .theme {
    width: remSize(668px);
    height: remSize(142px);
    position: relative;
    overflow: hidden;
    border: 1px solid #dbdbdb;
    z-index: 0;
  }
  .theme {
    a.lr {
      width: remSize(22px);
      height: remSize(24px);
      background: url(../images/index/lr.png) 0 0;
      display: block;
      cursor: pointer;
      position: absolute;
      top: 50%;
      margin-top: remSize(-12px);
      z-index: 9;
      @extend %a_transition;
    }
    a.lr1 {
      left: remSize(8px);
      &:hover {
      background-position: 0 remSize(-24px);
      }
    }
    a.lr2 {
      right: remSize(8px);
      background-position: remSize(-22px) 0;
      &:hover {
        background-position: remSize(-22px) remSize(-24px);
      }
    }

    #iTheme {
      width: 99999px;
      display: block;
      overflow: hidden;
      position: absolute;
      left: 0;
      overflow: hidden;
      li {
        float: left;
        border-right: 1px solid #dbdbdb;
      }
    }
  }
}
/*= recommend =*/
.recommend {
  width: remSize(910px);
  padding: remSize(10px) 0 0;
  overflow: hidden;
  float: left;
  clear: both;

  h1 {
    font: remSize(18px) "\5FAE\8F6F\96C5\9ED1";
    border-bottom: remSize(2px) solid #000;
    // padding-bottom: remSize(2px);
  }
}

.l_activity {
  position: relative;
  height: remSize(226px);
  overflow: hidden;
  width: remSize(910px);

  $marginLeft: 0px remSize(334px)  remSize(526px) remSize(718px);
  $hoverMarginLeft: 0px remSize(192px) remSize(384px)  remSize(576px);
  a {
    position: absolute;
    height: 100%;
    // transition-property:  margin-left;
    // transition-duration: .2s;
    // transition: all 0.2s ease-in;
    &:hover {
      margin-left: remSize(100px);
    }

    &:nth-child(1) {
      margin-left: nth($marginLeft, 1);
      &:hover {
        margin-left: nth($hoverMarginLeft,1);
      }
    }

    &:nth-child(2) {
      margin-left: nth($marginLeft,2);
      &:hover {
        margin-left: nth($hoverMarginLeft, 2);
      }
    }
    &:nth-child(3) {
      margin-left: nth($marginLeft,3);
      &:hover {
        margin-left: nth($hoverMarginLeft,3);
      }
    }
    &:nth-child(4) {
      margin-left: nth($marginLeft,4);
      &:hover {
        margin-left: nth($hoverMarginLeft,4);
      }
    }

    img {
      width:  remSize(334px);
      height: 100%;
      display: block;
    }

  }
}

  /*= announcement =*/
  .announcement {
    float: right;
    width: remSize(276px);
    height: remSize(300px);
    border: 1px solid #d5d5d5;
    padding-bottom: remSize(327px);
  }

.m_experience {
  h3 {
    font-size: remSize(14px);
    font-weight: bold;
    background: #ececec;
    line-height: remSize(30px);
    padding-left: remSize(12px);
    border-bottom: remSize(1px) solid #d5d5d5;
  }
}

  .l_survey {
    padding: remSize(16px) remSize(12px);
    section {
      padding-left: remSize(63px);
      &:first-child {
        padding-bottom: remSize(16px);
      }
    }
    .e_img {
      float: left;
      margin-left: remSize(-63px);
    }
    h4 {
      font-size: remSize(14px);
      a {
        color: #ee2a7b;
      }
    }
}

/*= 选项卡=*/
  .letters {
    overflow: hidden;
    ol {
      margin: 0 remSize(-2px);
      background-color: #ececec;
      border: solid #d5d5d5;
      border-width: remSize(1px);
      font-size: remSize(14px);
      overflow: hidden;
      border-bottom: none;
      li {
        @include height(remSize(28px));
        text-align: center;
        float: left;
        a {
          display: block;
          padding: 0 remSize(10px);
          height: 100%;
        }
      }
      li.focus {
        margin: 0 0 remSize(-1px);
        height: remSize(29px);
        border: solid #d5d5d5;
        border-width: 0 remSize(1px);
        border-bottom: none;

        a {
          color: #ee2a7b;
          background: #fff;
        }
      }
    }
    ul {
      padding: remSize(14px) remSize(12px) remSize(10px) remSize(12px);
      li {
        height: remSize(72px);
        overflow: hidden;
         a {
           display: block;
           @include height(remSize(24px));
           overflow: hidden;
           }
         }
          i {
            font-family: "\5B8B\4F53";
            color: #ee2a7b;
            margin-right: remSize(6px);
          }
        }
      }
/*= 小轮播图 =*/
.u_toggle {
  height: remSize(150px);
  // @extend %u_toggle;
  position: relative;
  z-index: 0;
  overflow: hidden;

  %liHeight  {
    width: 100%;
    height: 100%;
    position: absolute;
  }
  .list {
    @extend %liHeight;
    li {
      @extend %liHeight;
      top: 0;
      left: 0;

      a {
        @extend %liHeight;
        display: block;
      }
    }
  }
  .page {
    position: absolute;
    right: remSize(13px);
    bottom: remSize(8px);
    z-index: 99;
    li {
      float: left;
      margin-left: remSize(6px);
      background-color: #c2c2c2;
      a {
        width:remSize(8px);
        height: remSize(8px);
        line-height: remSize(8px);
        color: #fff;
        display: block;
      }
    }
    li.focus {
      background:#ee2a7b;
    }
  }
}
/*= 结束小轮播图 =*/
.e_bestSeller img {
  display: block;
  transition: opacity 0.2 ease-in;

  &:hover {
    opacity: 0.8;
  }
}
/*= main_item =*/
.main_item {
  margin-top: remSize(20px);
}

/*= 服饰 =*/
.l_itemHeader {
  // line-height: remSize(28px);
  @include height(remSize(28px));

  h1 {
    float: left;
    font-size: remSize(18px);
  }

  section {
    float: right;
    color: #333;
    line-height: 1.5;
    font-style: normal;
    font-family: 微软雅黑, "Microsoft YaHei";

    a {
      display: inline-block;
      margin-left: remSize(16px);
      &:hover {
        color: #ff5b35;
      }
    }
    .e_more {
      background: #ff5b35;
      width: remSize(96px);
      @include height(remSize(20px));
      text-align: center;
      &:hover {
        color: #fff;
      }
    }
  }

}
.l_itemHeader.s_ora {
  border-bottom: remSize(2px) solid #ff5b35;
}
/*=l_activity =*/

.l_activity.s_big {
  height: remSize(500px);
  @extend %l_activity;
  width: 100%;

  a {
    position: absolute;
    height: 100%;
  }
  img {
    width: remSize(400px);
    height: 100%;
    display: block;
  }
}
/*= banner=*/
.banner {
  margin: remSize(22px) auto 0;
  display: block;
  width: remSize(1200px);
  img {
    border: 0;
  }
}
/*=  美妆 =*/

.l_itemHeader.s_red {
  border-bottom: remSize(2px) solid #ee2a7b;
}

.m_related {
  float: left;
  border-width: 0 1px 0 0;
  width: remSize(194px);
  background: #f7f7f7;

  a {
    &:hover {
      color: #ee2a7b;
    }
  }
}
.m_related_inner {
  padding: 0 remSize(12px);
  height: remSize(202px);

  .c_sort {
    padding: remSize(12px) 0;
    text-align: center;
    &:first-child {
      border-bottom: remSize(1px) solid #d5d5d5;
    }
  }

  .c_sort a {
    display: inline-block;
    margin: remSize(2px)  remSize(12px);
  }
}
.l_promotion h5.s_red {
  color: #ee2a7b;
}
.l_promotion h5 {
  margin-top: remSize(6px);
  line-height: remSize(44px);
  text-shadow: remSize(1px) remSize(1px) remSize(2px) rgba(0,0,0,0.2);

  i {
    margin-right: remSize(4px);
    font-weight: bold;
  }
  b {
    font-size: remSize(14px);
  }
}
.l_promotion p {
  line-height: remSize(24px);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
  /*= 小轮播图 =*/
  .u_toggle.s_h254 {
    height: remSize(254px);
  }
  /*= 结束=*/

%animate-pic {
  transition-property: margin;
  transition-duration: .2s;
}

.main_item  .e_goodsImg {
    float: left;
    overflow: hidden;
    width: remSize(200px) ;
    border-width: 0 remSize(1px) remSize(1px) 0;
    img {
      transition-property: margin;
      transition-duration: .1s;
    }
  }

.e_goodsImg.s_h254{
  height: remSize(254px) !important;
  width: remSize(199px);
}

.e_goodsImg.e_error {
  width: remSize(199px);
}
/*= 营养 =*/
.l_itemHeader.s_gre {
  border-bottom: remSize(2px) solid #538900;
}
.s_gre a {
    &:hover {
      color: #538900;
}
}
h5.s_gre {
  color: #538900;
}

.s_w48 {
  width: remSize(48px);
  height:remSize(18px);
}
/*= 小轮播图=*/
.u_toggle.s_h455 {
  height: remSize(455px);
}
/*结束*/

/* html footer
---------------------------------*/
.YDJfooter {
  width: 100%;
  padding: remSize(70px) 0 remSize(100px);

  a{
    &:hover {
    color: #ee2a7b;
    }
  }
}

/*= separate1 =*/
.separate {
  border-top: remSize(2px) solid #dbddde;
}
.helper {
  width: remSize(1200px);
  height: remSize(176px);
  padding: remSize(18px) 0 0;
  margin: 0 auto;

  li {
    float: left;
    width: remSize(120px);
    mrgin-right: remSize(20px);
  }

  h3 {
    margin: 0 0 remSize(12px);
    font-size: remSize(14px);
    font-weight: bold;
    line-height: remSize(26px);
  }

  a {
    line-height: remSize(24px);
    color: #5f5754;
    display: block;
    float: left;
    clear: both;
    white-space: nowrap;
  }

  .mobile, .mobile * {
    display: block;
    a {
      text-align: center;
    }
    img{
      margin: 0 auto remSize(5px);

    }
    .qrCode {
      width: remSize(92px);
      height: remSize(92px);
      border: 1px solid #dddddd;
      margin-top: remSize(3px);

    }
    span {
      text-align: center;
    }
  }
  .touch {
    margin-left: remSize(17px);
    width: remSize(223px);
    >div {
      margin: remSize(10px) 0;
      overflow: hidden;
      zoom: 1;
      img {
        float: left;
        margin-top: remSize(4px);
      }

      b {
        display: block;
        font-size: remSize(14px);
        font-weight: bold;
        color: #727272;
      }
      em {
        display: block;
        font: remSize(24px) "\5FAE\8F6F\96C5\9ED1";
        color: #000;
      }
    }
    span {
      display: block;
      color: #727272;
      line-height: remSize(24px);
    }
  }
}
/*= separate2 =*/
.atido {

}
.about {
  margin: remSize(24px) 0 remSize(12px) 0;
  text-align: center;
  a {
    padding: 0 remSize(8px) 0 remSize(12px);
    border-left: remSize(1px) solid #666;
    &:first-child {
      border: 0 none;
    }
  }
  +p {
    text-align: center;
    span:nth-child(2) {
        margin-left: remSize(20px);
      }
    }
  }
.verification, .security {
  text-align: center;
}
.security {
  overflow: hidden;
  zoom: 1;
  margin: auto;
  width: remSize(780px);
   div {
     width: remSize(130px);
     float: left;
   }
  i {
    width: remSize(72px);
    height: remSize(72px);
    margin: remSize(28px) auto remSize(8px);
    display: block;
    background: url('../images/index/security.png');
  }
  .scrt1 {
    background-position: 0 0;
  }
  .scrt2 {
    background-position: remSize(-72px) 0;
  }
  .scrt3{
    background-position: remSize(-144px) 0;
  }
  .scrt4{
    background-position: remSize(-216px) 0;
  }
  .scrt5{
    background-position: remSize(-288px) 0;
  }
  .scrt6{
    background-position: remSize(-360px) 0;
  }

  span {
    display: block;
    text-align: center;
    font: remSize(14px) "\5FAE\8F6F\96C5\9ED1";
  }
  em {
    color: #663399;
  }
  b {
    display: block;
  }

}
