@charset "UTF-8";
/* retset styless
-----------------------------------*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, figure, legend, input, button, textarea, p, blockquote, th, td, select {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

ol, ul {
  list-style: none; }

fieldset, img {
  border: 0; }

address, i, cite, code, dfn, em, var {
  font-style: normal; }

/* comman styless
--------------------------------- */
body {
  font-size: 0.75rem;
  color: #333;
  line-height: 1.5;
  font-style: normal;
  font-family: 微软雅黑, "Microsoft YaHei"; }

.container {
  width: 75rem;
  margin: 0 auto; }

ul {
  margin: 0; }

li {
  padding: 0;
  list-style: none; }

a {
  text-decoration: none;
  color: #7d7d7d;
  transition-property: border-color, color, background-color;
  transition-duration: .2s; }
  a:hover {
    text-decoration: none;
    cursor: pointer; }
  a:link {
    color: #333;
    text-decoration: none;
    outline: none; }

p {
  padding: 0; }

b {
  font-weight: normal; }

.u_toggle.s_h330, .u_toggle.s_h254, .u_toggle.s_h455, .main_item .e_goodsImg, .m_related {
  border: 1px solid #d5d5d5; }

.u_toggle.s_h330, .u_toggle.s_h254, .u_toggle.s_h455 {
  float: left;
  border-width: 0 1px 1px 0;
  width: 401px; }

.clearfix::after {
  height: 0;
  display: block;
  visibility: hidden;
  content: ".";
  clear: both; }

.clearfix {
  *zoom: 1; }

/* SCSS styless
----------------------*/
.l_activity.s_big {
  position: relative;
  overflow: hidden; }

/* Header
--------------------------*/
header {
  height: 12.5rem; }

.top_navbar {
  width: 100%;
  height: 2.375rem;
  background: #f8f8f8;
  border-bottom: 0.0625rem solid #eee;
  position: fixed;
  top: 0;
  z-index: 999;
  /*= l_account =*/ }
  .top_navbar a:hover {
    color: #ae5eff; }
  .top_navbar .l_account {
    color: #7d7d7d;
    height: 2.375rem;
    line-height: 2.375rem;
    margin: 0 auto;
    z-index: 1;
    float: left; }
    .top_navbar .l_account b {
      margin-right: 2.75rem; }
    .top_navbar .l_account i {
      margin: 0 0.375rem; }

/*= c_operate =*/
.iconfont {
  font-family: "iconfont";
  font-size: 0.75rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.0125rem;
  -moz-osx-font-smoothing: grayscale; }

.c_operate a {
  display: inline-block;
  border-color: #ddd;
  padding: 0 0.625rem;
  color: 7d7d7d;
  outline: none; }

.c_operate i {
  color: #bfbfbf;
  transition-property: color;
  transiton-duration: .3s; }

.firstScreen .theme a.lr {
  transition-property: border-color, color, background-color;
  transition-duration: .2s; }

.s_hover {
  position: relative; }

.c_operate {
  height: 2.375rem;
  line-height: 2.375rem;
  float: right; }
  .c_operate ul li {
    float: left;
    position: relative; }
  .c_operate ul li:nth-child(2) a:hover, .c_operate ul li:nth-child(3) a:hover {
    border: 1px solid #ddd;
    border-width: 0 1px 1px;
    border-bottom: #fff;
    background: #fff; }
  .c_operate .g_code {
    left: 0px;
    padding: 0.875rem;
    text-align: center;
    display: none;
    position: absolute;
    top: 140%;
    border: 1px solid #ddd;
    margin-top: -1px;
    line-height: normal;
    transition-property: opacity, visibility, transform, display;
    transition-duration: .3s;
    text-align: center;
    line-height: 1;
    background: #fff; }
    .c_operate .g_code img {
      width: 8.125rem;
      height: 8.125rem; }
    .c_operate .g_code big {
      font-size: 0.9375rem;
      line-height: 1.25rem;
      display: block; }
    .c_operate .g_code small {
      display: block;
      margin-top: 0.125rem;
      width: 11em;
      font-size: 0.8125rem;
      line-height: 1.1875rem; }

/*= search_box =*/
.search_nav {
  width: 100%;
  height: 10.125rem;
  position: absolute;
  top: 2.375rem; }

.search_box {
  height: 5.75rem;
  margin: 0 auto;
  padding: 1rem 0;
  position: relative; }

.logo {
  width: 14.375rem;
  float: left; }
  .logo a {
    display: inline-block; }

.logo span {
  display: inline-block;
  margin: 4.375rem 0 0 0.4375rem;
  font-size: 1.25rem;
  color: #87319a; }

/*= shop_car  =*/
.shop_car {
  display: inline-block;
  float: right;
  position: relative;
  z-index: 99;
  margin-top: 1.625rem; }
  .shop_car a {
    display: inline-block;
    width: 8.25rem;
    height: rem(36px);
    line-height: rem(36px);
    text-align: center;
    border: 0.0625rem solid #ddd;
    border-radius: 0.125rem; }
    .shop_car a i {
      margin-right: 0.125rem;
      font-size: 1.4375rem;
      color: #ddd;
      vertical-align: -0.125rem; }
    .shop_car a b {
      font-size: 0.9375rem;
      color: #707070; }
    .shop_car a span {
      display: inline-block;
      width: 1.25rem;
      height: 1.25rem;
      line-height: 1.25rem;
      border-radius: 0.625rem 0.625rem 0.625rem 0;
      background: #fc448c;
      color: white;
      text-align: center;
      position: relative;
      top: -1.25rem;
      right: -0.625rem; }

/*= search =*/
@font-face {
  font-family: 'iconfont';
  /* project id 442383 */
  src: url("//at.alicdn.com/t/font_442383_fud6ifryk7bhjjor.eot");
  src: url("//at.alicdn.com/t/font_442383_fud6ifryk7bhjjor.eot?#iefix") format("embedded-opentype"), url("//at.alicdn.com/t/font_442383_fud6ifryk7bhjjor.woff") format("woff"), url("//at.alicdn.com/t/font_442383_fud6ifryk7bhjjor.ttf") format("truetype"), url("//at.alicdn.com/t/font_442383_fud6ifryk7bhjjor.svg#iconfont") format("svg"); }
.search {
  margin: 1.625rem 0 0 -15.625rem;
  position: absolute;
  left: 50%; }
  .search form {
    height: 2.25rem;
    line-height: 2.25rem;
    border: 0.0625rem solid #639;
    border-radius: 0.125rem; }
    .search form span {
      display: inline-block;
      padding-left: 0.625rem;
      color: #8657b2;
      font-size: 0.875rem; }
    .search form label {
      position: relative; }
      .search form label i {
        position: absolute;
        top: -0.6875rem;
        left: 0px;
        z-index: 99;
        width: 2rem;
        height: 2.25rem;
        line-height: 2.125rem;
        font-size: 1.125rem;
        color: #aaa;
        text-align: right;
        padding-right: 0.25rem; }
    .search form .inpts {
      height: 2.25rem;
      line-height: 2.25rem;
      width: 5.1875rem;
      text-align: center;
      border: 0;
      font-size: 0.9375rem;
      font-weight: bold;
      color: #fff;
      background: #639;
      float: right; }
  .search .inptx {
    height: 2.25rem;
    line-height: 2.25rem;
    border: 0;
    padding: 0 0.625rem 0 2.25rem;
    width: 19rem;
    border: none;
    outline: none; }
  .search ul {
    margin-top: 0.125rem;
    padding-left: 0.625rem; }
    .search ul li {
      float: left;
      margin-right: 0.375rem;
      color: 7d7d7d; }
      .search ul li a:hover {
        color: #ae5eff; }

/*= main_nav_bar =*/
.main_nav_bar {
  height: 2.375rem;
  line-height: 2.375rem;
  background: #663399; }

.navigation > ul > li {
  float: left;
  margin-right: 0.625rem;
  height: 2.375rem;
  line-height: 2.375rem; }
  .navigation > ul > li a {
    height: 2.375rem;
    line-height: 2.375rem;
    color: #fff;
    font-size: 0.875rem;
    display: block;
    width: 6.875rem;
    margin: 0 auto;
    text-align: center;
    transiton-property: border-color, color, background-color;
    transition: 0.2s; }
  .navigation > ul > li:first-child a {
    width: 14.375rem;
    z-index: 1;
    background: #ee2a7b; }

/* start body
------------------------*/
.firstScreen {
  margin-top: 0.75rem;
  zoom: 1;
  overflow: hidden;
  /*= leftDiv =*/
  /*= center =*/
  /*= carousel =*/
  /*= center theme =*/ }
  .firstScreen a:hover {
    color: #ee2a7b !important; }
  .firstScreen .leftDiv {
    float: left;
    width: 57.625rem; }
    .firstScreen .leftDiv #myCatalogCtn2 {
      width: 14.25rem;
      height: 24.125rem;
      overflow: hidden;
      margin: -0.75rem 0.625rem 0 0;
      border: 1px solid #dbdbdb;
      border-top: 0;
      padding-top: 0.5625rem;
      float: left; }
      .firstScreen .leftDiv #myCatalogCtn2 li {
        padding: 0 1.0625rem;
        display: list-item;
        text-align: -webkit-match-parent; }
        .firstScreen .leftDiv #myCatalogCtn2 li h3 {
          height: 1.625rem;
          line-height: 1.625rem;
          margin: 0.25rem 0 0.125rem 0;
          font-size: 1rem;
          color: #453555; }
        .firstScreen .leftDiv #myCatalogCtn2 li div {
          border-bottom: 1px solid #eee;
          overflow: hidden;
          padding: 0 0 0.25rem;
          line-height: 1.375rem;
          zoom: 1; }
        .firstScreen .leftDiv #myCatalogCtn2 li a {
          color: #646464;
          margin: 0 0.4375rem;
          height: 1.375rem;
          float: left;
          white-space: nowrap; }
        .firstScreen .leftDiv #myCatalogCtn2 li:not(:first-child) {
          margin-top: 0.375rem; }
        .firstScreen .leftDiv #myCatalogCtn2 li:last-child div {
          border: none; }
  .firstScreen main .center {
    float: left;
    margin-left: 0.75rem; }
  .firstScreen .focusing {
    width: 41.875rem;
    height: 15rem;
    overflow: hidden;
    position: relative;
    z-index: 0; }
    .firstScreen .focusing .list {
      display: block;
      position: absolute; }
      .firstScreen .focusing .list li {
        position: absolute;
        top: 0;
        left: 0; }
        .firstScreen .focusing .list li a {
          width: 41.875rem;
          height: 15rem;
          display: block;
          color: #333;
          text_decoration: none;
          outline: none; }
    .firstScreen .focusing .page {
      position: absolute;
      right: 0.8125rem;
      bottom: 0.5rem;
      z-index: 99; }
      .firstScreen .focusing .page li {
        margin-left: 0.3125rem;
        float: left;
        width: 1.375rem;
        height: 1.375rem;
        color: #fff;
        background-color: #c2c2c2;
        border-radius: 50%; }
        .firstScreen .focusing .page li a {
          display: block;
          text-align: center;
          font: 0.6363636364 "微软雅黑"; }
      .firstScreen .focusing .page .focus {
        background-color: #ee2a7b; }
  .firstScreen .theme {
    width: 41.75rem;
    height: 8.875rem;
    position: relative;
    overflow: hidden;
    border: 1px solid #dbdbdb;
    z-index: 0; }
  .firstScreen .theme a.lr {
    width: 1.375rem;
    height: 1.5rem;
    background: url(../images/index/lr.png) 0 0;
    display: block;
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -0.75rem;
    z-index: 9; }
  .firstScreen .theme a.lr1 {
    left: 0.5rem; }
    .firstScreen .theme a.lr1:hover {
      background-position: 0 -1.5rem; }
  .firstScreen .theme a.lr2 {
    right: 0.5rem;
    background-position: -1.375rem 0; }
    .firstScreen .theme a.lr2:hover {
      background-position: -1.375rem -1.5rem; }
  .firstScreen .theme #iTheme {
    width: 99999px;
    display: block;
    overflow: hidden;
    position: absolute;
    left: 0;
    overflow: hidden; }
    .firstScreen .theme #iTheme li {
      float: left;
      border-right: 1px solid #dbdbdb; }

/*= recommend =*/
.recommend {
  width: 56.875rem;
  padding: 0.625rem 0 0;
  overflow: hidden;
  float: left;
  clear: both; }
  .recommend h1 {
    font: 1.125rem "微软雅黑";
    border-bottom: 0.125rem solid #000; }

.l_activity {
  position: relative;
  height: 14.125rem;
  overflow: hidden;
  width: 56.875rem; }
  .l_activity a {
    position: absolute;
    height: 100%; }
    .l_activity a:hover {
      margin-left: 6.25rem; }
    .l_activity a:nth-child(1) {
      margin-left: 0px; }
      .l_activity a:nth-child(1):hover {
        margin-left: 0px; }
    .l_activity a:nth-child(2) {
      margin-left: 20.875rem; }
      .l_activity a:nth-child(2):hover {
        margin-left: 12rem; }
    .l_activity a:nth-child(3) {
      margin-left: 32.875rem; }
      .l_activity a:nth-child(3):hover {
        margin-left: 24rem; }
    .l_activity a:nth-child(4) {
      margin-left: 44.875rem; }
      .l_activity a:nth-child(4):hover {
        margin-left: 36rem; }
    .l_activity a img {
      width: 20.875rem;
      height: 100%;
      display: block; }

/*= announcement =*/
.announcement {
  float: right;
  width: 17.25rem;
  height: 18.75rem;
  border: 1px solid #d5d5d5;
  padding-bottom: 20.4375rem; }

.m_experience h3 {
  font-size: 0.875rem;
  font-weight: bold;
  background: #ececec;
  line-height: 1.875rem;
  padding-left: 0.75rem;
  border-bottom: 0.0625rem solid #d5d5d5; }

.l_survey {
  padding: 1rem 0.75rem; }
  .l_survey section {
    padding-left: 3.9375rem; }
    .l_survey section:first-child {
      padding-bottom: 1rem; }
  .l_survey .e_img {
    float: left;
    margin-left: -3.9375rem; }
  .l_survey h4 {
    font-size: 0.875rem; }
    .l_survey h4 a {
      color: #ee2a7b; }

/*= 选项卡=*/
.letters {
  overflow: hidden; }
  .letters ol {
    margin: 0 -0.125rem;
    background-color: #ececec;
    border: solid #d5d5d5;
    border-width: 0.0625rem;
    font-size: 0.875rem;
    overflow: hidden;
    border-bottom: none; }
    .letters ol li {
      height: 1.75rem;
      line-height: 1.75rem;
      text-align: center;
      float: left; }
      .letters ol li a {
        display: block;
        padding: 0 0.625rem;
        height: 100%; }
    .letters ol li.focus {
      margin: 0 0 -0.0625rem;
      height: 1.8125rem;
      border: solid #d5d5d5;
      border-width: 0 0.0625rem;
      border-bottom: none; }
      .letters ol li.focus a {
        color: #ee2a7b;
        background: #fff; }
  .letters ul {
    padding: 0.875rem 0.75rem 0.625rem 0.75rem; }
    .letters ul li {
      height: 4.5rem;
      overflow: hidden; }
      .letters ul li a {
        display: block;
        height: 1.5rem;
        line-height: 1.5rem;
        overflow: hidden; }
    .letters ul i {
      font-family: "\5B8B\4F53";
      color: #ee2a7b;
      margin-right: 0.375rem; }

/*= 小轮播图 =*/
.u_toggle {
  height: 9.375rem;
  position: relative;
  z-index: 0;
  overflow: hidden; }
  .u_toggle .list, .u_toggle .list li, .u_toggle .list li a {
    width: 100%;
    height: 100%;
    position: absolute; }
  .u_toggle .list li {
    top: 0;
    left: 0; }
    .u_toggle .list li a {
      display: block; }
  .u_toggle .page {
    position: absolute;
    right: 0.8125rem;
    bottom: 0.5rem;
    z-index: 99; }
    .u_toggle .page li {
      float: left;
      margin-left: 0.375rem;
      background-color: #c2c2c2; }
      .u_toggle .page li a {
        width: 0.5rem;
        height: 0.5rem;
        line-height: 0.5rem;
        color: #fff;
        display: block; }
    .u_toggle .page li.focus {
      background: #ee2a7b; }

/*= 结束小轮播图 =*/
.e_bestSeller img {
  display: block;
  transition: opacity 0.2 ease-in; }
  .e_bestSeller img:hover {
    opacity: 0.8; }

/*= main_item =*/
.main_item {
  margin-top: 1.25rem; }

/*= 服饰 =*/
.l_itemHeader {
  height: 1.75rem;
  line-height: 1.75rem; }
  .l_itemHeader h1 {
    float: left;
    font-size: 1.125rem; }
  .l_itemHeader section {
    float: right;
    color: #333;
    line-height: 1.5;
    font-style: normal;
    font-family: 微软雅黑, "Microsoft YaHei"; }
    .l_itemHeader section a {
      display: inline-block;
      margin-left: 1rem; }
      .l_itemHeader section a:hover {
        color: #ff5b35; }
    .l_itemHeader section .e_more {
      background: #ff5b35;
      width: 6rem;
      height: 1.25rem;
      line-height: 1.25rem;
      text-align: center; }
      .l_itemHeader section .e_more:hover {
        color: #fff; }

.l_itemHeader.s_ora {
  border-bottom: 0.125rem solid #ff5b35; }

/*=l_activity =*/
.l_activity.s_big {
  height: 31.25rem;
  width: 100%; }
  .l_activity.s_big a {
    position: absolute;
    height: 100%; }
  .l_activity.s_big img {
    width: 25rem;
    height: 100%;
    display: block; }

/*= banner=*/
.banner {
  margin: 1.375rem auto 0;
  display: block;
  width: 75rem; }
  .banner img {
    border: 0; }

/*=  美妆 =*/
.l_itemHeader.s_red {
  border-bottom: 0.125rem solid #ee2a7b; }

.m_related {
  float: left;
  border-width: 0 1px 0 0;
  width: 12.125rem;
  background: #f7f7f7; }
  .m_related a:hover {
    color: #ee2a7b; }

.m_related_inner {
  padding: 0 0.75rem;
  height: 12.625rem; }
  .m_related_inner .c_sort {
    padding: 0.75rem 0;
    text-align: center; }
    .m_related_inner .c_sort:first-child {
      border-bottom: 0.0625rem solid #d5d5d5; }
  .m_related_inner .c_sort a {
    display: inline-block;
    margin: 0.125rem 0.75rem; }

.l_promotion h5.s_red {
  color: #ee2a7b; }

.l_promotion h5 {
  margin-top: 0.375rem;
  line-height: 2.75rem;
  text-shadow: 0.0625rem 0.0625rem 0.125rem rgba(0, 0, 0, 0.2); }
  .l_promotion h5 i {
    margin-right: 0.25rem;
    font-weight: bold; }
  .l_promotion h5 b {
    font-size: 0.875rem; }

.l_promotion p {
  line-height: 1.5rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

/*= 小轮播图 =*/
.u_toggle.s_h254 {
  height: 15.875rem; }

/*= 结束=*/
.main_item .e_goodsImg {
  float: left;
  overflow: hidden;
  width: 12.5rem;
  border-width: 0 0.0625rem 0.0625rem 0; }
  .main_item .e_goodsImg img {
    transition-property: margin;
    transition-duration: .1s; }

.e_goodsImg.s_h254 {
  height: 15.875rem !important;
  width: 12.4375rem; }

.e_goodsImg.e_error {
  width: 12.4375rem; }

/*= 营养 =*/
.l_itemHeader.s_gre {
  border-bottom: 0.125rem solid #538900; }

.s_gre a:hover {
  color: #538900; }

h5.s_gre {
  color: #538900; }

.s_w48 {
  width: 3rem;
  height: 1.125rem; }

/*= 小轮播图=*/
.u_toggle.s_h455 {
  height: 28.4375rem; }

/*结束*/
/* html footer
---------------------------------*/
.YDJfooter {
  width: 100%;
  padding: 4.375rem 0 6.25rem; }
  .YDJfooter a:hover {
    color: #ee2a7b; }

/*= separate1 =*/
.separate {
  border-top: 0.125rem solid #dbddde; }

.helper {
  width: 75rem;
  height: 11rem;
  padding: 1.125rem 0 0;
  margin: 0 auto; }
  .helper li {
    float: left;
    width: 7.5rem;
    mrgin-right: 1.25rem; }
  .helper h3 {
    margin: 0 0 0.75rem;
    font-size: 0.875rem;
    font-weight: bold;
    line-height: 1.625rem; }
  .helper a {
    line-height: 1.5rem;
    color: #5f5754;
    display: block;
    float: left;
    clear: both;
    white-space: nowrap; }
  .helper .mobile, .helper .mobile * {
    display: block; }
    .helper .mobile a, .helper .mobile * a {
      text-align: center; }
    .helper .mobile img, .helper .mobile * img {
      margin: 0 auto 0.3125rem; }
    .helper .mobile .qrCode, .helper .mobile * .qrCode {
      width: 5.75rem;
      height: 5.75rem;
      border: 1px solid #dddddd;
      margin-top: 0.1875rem; }
    .helper .mobile span, .helper .mobile * span {
      text-align: center; }
  .helper .touch {
    margin-left: 1.0625rem;
    width: 13.9375rem; }
    .helper .touch > div {
      margin: 0.625rem 0;
      overflow: hidden;
      zoom: 1; }
      .helper .touch > div img {
        float: left;
        margin-top: 0.25rem; }
      .helper .touch > div b {
        display: block;
        font-size: 0.875rem;
        font-weight: bold;
        color: #727272; }
      .helper .touch > div em {
        display: block;
        font: 1.5rem "微软雅黑";
        color: #000; }
    .helper .touch span {
      display: block;
      color: #727272;
      line-height: 1.5rem; }

/*= separate2 =*/
.about {
  margin: 1.5rem 0 0.75rem 0;
  text-align: center; }
  .about a {
    padding: 0 0.5rem 0 0.75rem;
    border-left: 0.0625rem solid #666; }
    .about a:first-child {
      border: 0 none; }
  .about + p {
    text-align: center; }
    .about + p span:nth-child(2) {
      margin-left: 1.25rem; }

.verification, .security {
  text-align: center; }

.security {
  overflow: hidden;
  zoom: 1;
  margin: auto;
  width: 48.75rem; }
  .security div {
    width: 8.125rem;
    float: left; }
  .security i {
    width: 4.5rem;
    height: 4.5rem;
    margin: 1.75rem auto 0.5rem;
    display: block;
    background: url("../images/index/security.png"); }
  .security .scrt1 {
    background-position: 0 0; }
  .security .scrt2 {
    background-position: -4.5rem 0; }
  .security .scrt3 {
    background-position: -9rem 0; }
  .security .scrt4 {
    background-position: -13.5rem 0; }
  .security .scrt5 {
    background-position: -18rem 0; }
  .security .scrt6 {
    background-position: -22.5rem 0; }
  .security span {
    display: block;
    text-align: center;
    font: 0.875rem "微软雅黑"; }
  .security em {
    color: #663399; }
  .security b {
    display: block; }

/*# sourceMappingURL=index.css.map */
